@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&family=Rowdies&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
    font-family: 'Moon Dance', cursive ;
    background-image:url("https://img.freepik.com/free-vector/white-abstract-background_23-2148804712.jpg?w=2000");
    
}
.navbar{
    margin-top: 0;
    margin-left: 0;
    
    
}
.content{
    max-width:600px;
    margin: auto;
    padding-top: 40px;
    line-height:2em;
}
.nav {
    padding-left: 0em;
    padding-top: 0%;
    list-style-type: none;
    font-size: 100%;
    font-family:'Oswald', sans-serif;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top: 0;
    width:100%;
  }
  
  li {
    float:left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #111;
    text-decoration: underline;
  }
  .active {
    background-color: #2f09bb;
  }


.heading {
    font-family: 'Moon Dance', cursive ;
    font-size:200%;
    font-weight: 600;
    
}

.pic {
    border-radius: 15px;
    box-shadow: 8px 8px 8px 8px rgb(199, 198, 198);
}
.p1 {
  padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 700;
}
.p2 {
    font-family: monospace;
    font-weight: 600;
    color: rgb(231, 23, 23);
}

.button {
    background-color: #308ffc; 
    border-radius: 0px;
    border-style: hidden;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    
}
  .button:hover {
    background-color: #0060ba;
    color: white;
  }
